body{
    font-family:monospace;
    margin:0;
    background-color: aquamarine;
    color: azure;
    
}
header{
    background-color:blue;
    color: black;
    padding: 20px;
    text-align: center;
}
section{
    padding: 10px;
    background-color:brown;
    margin: 20px;
}
h2{
    color:blueviolet;
}
ul{
    list-style: square;
    padding-left: 20px;
}
footer{
    background-color: chartreuse;
    color: coral;
    text-align: center;
    padding: 10px;

}